@model Hutech.Models.ConfigurationViewModel;
<form class="horizontal" method="post" asp-controller="Configuration" asp-action="AddConfiguration">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Add Configuration</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">File Type</label>
                    @Html.TextBoxFor(x=>x.FileType,new{Placeholder="Enter File Type",@class="form-control"})
                    @Html.ValidationMessageFor(x=>x.FileType,"", new { @class = "text-danger"})
                </div>
                <div class="form-group">
                    <label for="company">File Size</label>
                    @Html.TextBoxFor(x=>x.FileSize,new{Placeholder="Enter File Size",@class="form-control"})
                    @Html.ValidationMessageFor(x=>x.FileSize,"", new { @class = "text-danger"})
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
